/* styles.css */

body {
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

#subtitle {
    line-height: 150%;
}

.fieldset {
    text-align: left;
}

.button-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-box button {
    margin-top: 1%;
}

.button-box p {
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 0;
}

#form-error-text {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

#submit {
    margin: 0 auto;
    display: block;
}

#success-box-holder {
    display: flex;
    justify-content: center;
}

#failure-box-holder {
    display: flex;
    justify-content: space-evenly;
}

#success-box {
    border: 1px solid black;
    width: 300px;
}

#failure p {
    line-height: 150%;
}

#failure-box {
    border: 1px solid black;
    width: 300px;
}
